* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: sans-serif;
    color:rgba(0,0,0);
    line-height: 1.8;
    margin: 0;
}

.Topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: white;
    padding: 31px 346px;
}

.Topbar nav {
    float:left;
}

.Topbar nav a {
    color: rgba(65, 62, 62, 0.856);
    text-decoration: none;
    font-weight: 500;
    margin: 0 36px;
}

.Topbar nav a:hover {
    color: black;
}
.Topbar .Menu {
    float: left;
    opacity: .5;
}

.Topbar .Menu:hover {
    opacity: 1;
}

.first-Post {
    float: center center;
    height: 290px; 
    width: 900px;
    margin: 0px 190px 0px;
}

.Second-Post {
    float: left;
    height: 180px; 
    width: 290px;
    margin: 0px 800px 0px;
}

.Post-text1 {
    font-size: 20px;
    font-family:sans-serif;
    background: rgb(125, 241, 140);
    padding: 31px 346px ;
    padding-right: 700px;
    text-align:center;
}